
.icon-menu:before { content: '\e800'; } /* '' */
.icon-th-list-outline:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-doc:before { content: '\e804'; } /* '' */